/* Gaya umum untuk halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWVzdGhldGljJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww&w=1000&q=80'); /* Ganti 'nama-gambar-anda.jpg' dengan nama file gambar Anda */
    background-size: cover; /* Untuk memastikan gambar meliputi seluruh latar belakang */
    background-repeat: no-repeat; /* Agar gambar tidak diulang */
    background-attachment: fixed; /* Untuk menjaga gambar tetap dalam posisi */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Menambahkan lapisan transparan pada header */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.7); /* Menambahkan lapisan transparan pada navigasi */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Efek hover saat mengarahkan mouse ke tautan */
nav ul li a:hover {
    text-decoration: underline;
}

/* Gaya untuk setiap bagian halaman */
section {
    padding: 20px;
}

/* Gaya untuk footer */
footer {
    background-color: rgba(0, 0, 0, 0.7); /* Menambahkan lapisan transparan pada footer */
    color: white;
    text-align: center;
    padding: 10px;
}
